# What is python
-Python is a high level language.It is a object oriented language.It is widely used in web applications, software development, data science, machine learning and for testing purposes.
-Python is a general-purpose, object-oriented programming language that is popular in data science thanks to its rich libraries and frameworks offering deep learning capabilities, structured machine learning and its ability to deal with large volumes of data.
-Python is a dynamic, interpreted (bytecode-compiled) language. There are no type declarations of variables, parameters, functions, or methods in source code. This makes the code short and flexible, and you lose the compile-time type checking of the source code.

## Why Python
1. Easy to Learn – Considered one of the most beginner-friendly languages due to its clear and concise syntax.
2. Dynamic Typing – No need to explicitly declare variable types, making coding faster.
3. Interpreted Code – Executed line by line without a separate compilation step, making testing and debugging easier.
4. Object-Oriented – Supports object-oriented programming, allowing for better code organization and reusability.

### History of Python

1.The name Python comes from Monty Python. When Guido van Rossum was creating Python, he was also reading the scripts from BBC's Monty Python's Flying Circus. He thought the name Python was appropriately short and slightly mysterious.
2.Python was conceived in the late 1980s by at Centrum Wiskunde and Informatica (CWI) in the Netherlands.
3. Its implementation began in December 1989.
4.And finally n February 1991, Van Rossum published the code (labeled version 0.9.0) to alt.sources.

#### What is comment . Explain with an Example
-Comments in Python is the inclusion of short descriptions along with the code to increase its readability.
-A developer uses them to write his or her thought process while writing the code. 
-It explains the basic logic behind why a particular line of code was written.
Example - # print a number
print(25)

##### What is keyword. Explain with an example
-Python keywords are special reserved words that have specific meanings and purposes and can't be used for anything but those specific purposes. 
-There are 36 key words as of python 3.8.

In [33]:
x = 25
y = 20

z = x > y
print(z)  # True

True

###### What is Variable . Explain the rules with examples
-A variable in Python is a named memory location that stores a value. 
-Variables are used to store and work with data like numbers, strings, and lists. 
Rules
-A variable can consist of upper- and lowercase letters, the digits 0-9 and the underscore character.
-The first character of a variable cannot be a digit.
-We can't start the variable with special character except "-"
-We can't able use keywords to create a varible.
-Variables are case-sensitive.

In [34]:
govardhan = 25
print(govardhan)

25

In [37]:
0govardhan = 25
print(govardhan)

SyntaxError: invalid decimal literal (2227508741.py, line 1)

In [46]:
_DataScience = 10000
print(_DataScience)

10000

In [49]:
Data-Scientist = 10000
print(Data-scientist)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2540300524.py, line 1)

In [55]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [56]:
a b c = 1, 2,3
print(a b c)

SyntaxError: invalid syntax (1458332469.py, line 1)

In [57]:
teks123 = 15
print(teks123)

15

In [58]:
teks@123 = 15
print(teks@123)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1228073733.py, line 1)

In [59]:
a=b=c=1
print(a)

1

In [62]:
abcd=0
print(d)

NameError: name 'd' is not defined